@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

main {
  margin-top: 72px;
  overflow-x: hidden;
  overflow-anchor: none;
}

html, body {
  margin: 0; padding: 0;
  background-color: #d6edf7;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

section { display: block; }

.page-wrapper {
  position: relative;
  overflow: hidden;
}