.welcome {
    background-color: lightblue;
}

.details {
   background-color: #02062e;
}

/* .about-page {
    padding: 50px 0;
    background-color: #f7f7f7;
    margin-top: 72px;
  } */
  
  /* .about-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .about-sections .about-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .about-sections h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .about-sections p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #777;
  } */