.buttons-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
}
  
.button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.linkedin-button, .email-button, .download-button {
    background-color: rgb(123, 192, 215);
    color: white;
}
  
.linkedin-button:hover, .email-button:hover, .download-button:hover  {
    background-color: rgb(99, 155, 173);
}