.details-page {
    padding: 90px 10px;
    margin: 90px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.details-page h1 {
    font-size: 30px;
}

.details-page p {
    line-height: 1.8;
    font-size: 16px;
    padding-bottom: 15px;
}