.projects-page{
    background-color: lightblue;
    text-align: center;
    display: block;
    padding: 20px;
}

.projects-page h1 {
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 50px;
    align-items: center;
}
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 20px;
    margin: 30px;
  }
  
  .project-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .project-card h3, p, a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .project-card h3 {
    font-size: 20px;
    text-align: center;
  }
  .project-card p {
    font-size: 16px;
  }
  
  .project-image {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
  }
  
  .github-link {
    display: inline-block;
    padding: 8px 15px;
    background-color: #24292e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .github-link:hover {
    background-color: #333; /* Slightly lighter on hover */
  }
  
  .github-link:active {
    background-color: #181818; /* Even darker when active */
  }